@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  background-color: transparent;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 20px;
  width: 100%; /* Updated to use full width of the viewport */
  background-color: transparent;
}

.prompt-container {
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;
  background-color: transparent;
}

.model-container {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: transparent;
}

.translator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  height: auto;
  max-width: 600px;
  background-color: transparent;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align contents */
}

textarea
{
  width: 100%;
  height: 20vh;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  color: black;
  resize: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

textarea:focus,
select:focus,
button:focus {
  border-color: #f1b970;
  outline: none; 
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.language-select {
  flex-direction: column;
  text-align: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 80vh; /* Ensure the select elements span the full width */
  align-items: center;
}

select,
button {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  padding: 16px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select,
button:focus {
  border-color: #f1b970;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.prompt-text {
  transition: opacity 0.7s ease, transform 0.7s ease, color 0.7s ease;
  display: inline-block;
  opacity: 1;
  transform: translateY(0);
  vertical-align: baseline;
}

.fade-slide-out {
  opacity: 0;
  transform: translateY(20px);
}

.fade-slide-in {
  opacity: 1;
  transform: translateY(0);
}

.about-me-container {
  width: 100%;
  max-width: 600px;
  background-color: #f1b970;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 60px; /* Added more space at the bottom */
  border: 2px solid rgba(0, 0, 0, 0.1);
  transition: transform 1s ease, max-height 1s ease, opacity 1s ease, padding 1s ease;
  overflow: hidden;
  opacity: 0;
  transform: translateY(50px);
}

.about-me-container.expanded {
  padding: 30px;
  max-height: 1000px;
  opacity: 1;
  transform: translateY(0);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.about-me-header {
  font-size: 2em;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
  transition: color 0.5s ease;
}

.about-me-container.expanded .about-me-header {
  color: #0000005b; /* Change color when expanded */
}

.about-me-text {
  text-align: center;
  font-size: 1.1em;
  color: #0000005b;
  opacity: 0;
  transform: translateY(50px); 
  transition: opacity 1s ease, transform 1s ease;
}

.about-me-container.expanded .about-me-text {
  opacity: 1;
  transform: translateY(0);
}

.footer-container {
  width: 100%;
  padding: 40px 20px;
  background-color: #f5f5f5;
  border-top: 2px solid #e0e0e0;
  margin-top: 60px;
}

.footer-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-item {
  text-align: left;
}

.footer-item h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #333;
}

.footer-item p,
.footer-item a {
  font-size: 1em;
  color: #555;
  text-decoration: none;
}

.footer-item a:hover {
  text-decoration: underline;
}

.translation-box {
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  display: none; /* Initially hidden */
}

@keyframes conveyor {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.conveyor-belt {
  position: relative;
  width: 100%;
  height: 50px; /* Adjust height as needed */
  overflow: hidden;
  background-color: #f1b970;
  border-radius: 10px;
  margin-top: -130px;
  margin-bottom: 100px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.conveyor-content {
  display: flex;
  white-space: nowrap;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move by 50% of the total content width */
  }
}

.conveyor-word {
  display: inline-block;
  padding: 0 10px;
  font-size: 1.5em;
  color: black;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.conveyor-word:hover {
  transform: scale(1.2);
  color: #FFFFFF;
}
