@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  background-color: transparent;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: transparent;
}

.prompt-container {
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;
  background-color: transparent;
}

.model-container {
  width: 100%;
  height: 400px;
  background-color: transparent;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: transparent;
}

.translator-container {
  width: 80%;
  max-width: 600px;
  background-color: transparent; /* Make the translator container fully transparent */
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

textarea,
select,
button {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.5); /* Add a semi-transparent white border */
  background-color: rgba(255, 255, 255, 0.8); /* Keep the background opaque */
  font-size: 16px;
  color: black;
  resize: none;
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}

/* Change border color on focus/click */
textarea:focus,
select:focus,
button:focus {
  border-color: #007BFF; /* Blue border when focused */
  outline: none; /* Remove default outline */
}

.language-select {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

select,
button {
  padding: 8px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.5); /* Add a semi-transparent white border */
  background-color: rgba(255, 255, 255, 0.8); /* Keep the background opaque */
  color: black;
  cursor: pointer;
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}

select:focus,
button:focus {
  border-color: #007BFF; /* Blue border when focused */
  outline: none; /* Remove default outline */
}
