@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.translator-container {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  text-align: center;
}

.model-container {
  width: 100%;
  max-width: 600px;
  height: 400px; /* Adjust height as necessary */
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.skibidi-container {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  color: #333;
}

textarea {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  width: 92%;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.language-select {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

select,
button {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  cursor: pointer;
}

button#swapLanguages {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  background-color: #ddd;
  margin: 0 10px;
}

.prompt-container {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 36px; 
  height: 60px;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.static-text {
  color: #333; 
  margin-right: 5px; 
}

.prompt-wrapper {
  display: inline-block;
  width: 90px;
  text-align: left;
} 

.prompt-text {
  transition: opacity 0.7s ease, transform 0.7s ease, color 0.7s ease;
  display: inline-block; 
  opacity: 1;
  transform: translateY(0);
  vertical-align: baseline; 
}

.fade-slide-out {
  opacity: 0;
  transform: translateY(20px); 
}

.fade-slide-in {
  opacity: 1;
  transform: translateY(0); 
}
